span {
  color: #86c232;
  font-family: cursive;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  background-color: #121212;
  /* background-color: yellow; */
}

.clear-fix {
  clear: both;
}

#navbar {
  width: 100%;
  height: 80px;
  /* background-color: #bd8700; */
  background-color: #121212;
  /* border-bottom-color: lemonchiffon; */
  margin: 0 auto;
  /* position: fixed; */
}

#navbar ul {
  float: right;
  margin-right: 10px;
}

#navbar ul li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
  margin: 0 auto;
}

#navbar ul li a {
  color: white;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 15px;
}
#navbar ul li a:hover {
  color: rgb(104, 101, 101);
}

/*.navbar a:hover {
	color: #2E8B57;
	background: #2A2A2E;
	padding: auto;
	border-radius: 10px;
}*/

#navbar .logo {
  width: 80px;
  height: 80px;
  line-height: 80px;
}

#upArrow {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  background: #00f260;
  background: -webkit-linear-gradient(to right, #0575e6, #00f260);
  background: linear-gradient(to right, #0575e6, #00f260);
  padding: 2px;
  margin: 0 auto;
  border-radius: 30px;
}

#home-section {
  display: flex;
  flex-direction: row;
  padding: 100px 50px;
  width: 100%;
  height: 95%;
  margin: 0 auto;
  background-color: #121212;
}

.homeTextContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
}

#home-section img {
  flex-wrap: wrap;
  height: 350px;
  width: 350px;
  margin: 0 auto;
}
.homeTextContainer h1 {
  flex-wrap: wrap;
  color: #fcb600;
  margin-left: 30px;
  line-height: normal;
  font-size: 4rem;
  font-family: 'Monoton', cursive;
}
.homeTextContainer h2 {
  color: #86c232;
  flex-wrap: wrap;
  line-height: normal;
  font-size: 6.5rem;
  font-family: 'Rubik', sans-serif;
  margin-left: 30px;
}
.homeTextContainer h3 {
  color: white;
  flex-wrap: wrap;
  line-height: normal;
  font-size: 3rem;
  font-family: 'Rubik', sans-serif;
  margin-left: 30px;
}
.homeTextContainer h4 {
  color: white;
  flex-wrap: wrap;
  line-height: 1.6rem;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  margin-left: 30px;
  width: 70%;
}
#homeBtn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin: 10px 30px 0 30px;
  border-radius: 15px;
  padding: 10px 30px;
  font-size: 1em;
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
}

#homeBtn:hover {
  background-color: white;
  color: #282828;
  border: 2px solid lightgray;
}

#seeMy {
  color: rgb(189, 187, 187);
  bottom: 20px;
  line-height: 1.5em;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}
.sidebar {
  position: fixed;
  top: 60%;
  /* background: linear-gradient(to right, #26d0ce, #1a2980); */
  background: #00f260;
  background: -webkit-linear-gradient(to left, #0575e6, #00f260);
  background: linear-gradient(to left, #0575e6, #00f260);
  padding: 5px;
  border-radius: 3px;
}

.sidebar img {
  height: 25px;
  width: 25px;
  display: block;
  margin: 10px;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-image: url('../images/bg.jpg');
}

.myImage {
  flex: wrap;
}
.myImage img {
  width: 400px;
  margin: 0 auto;
  /* animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; */
}

.aboutContent {
  flex: wrap;
  padding: 20px;
}

.aboutContainer .aboutContent h1 {
  color: rgb(32, 31, 31);
  font-size: 2.6rem;
  font-weight: bolder;
  font-family: 'Rubik', sans-serif;
  margin: 10px;
}

.aboutContainer .aboutContent h2 {
  color: white;
  font-size: 0.9em;
  font-family: 'open-sans', sans-serif;
  font-weight: bold;
  line-height: 1.6rem;
  margin: 10px;
  opacity: 0.8;
}
#portfolioContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #121212;
}
#portfolioHeading {
  color: #86c232;
  font-family: 'Rubik', sans-serif;
  font-size: 2.2rem;
  margin: 20px auto;
  padding: auto;
  text-transform: uppercase;
}

#portfolioHeading2 {
  color: #f5f5f5;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  margin: auto;
  padding: auto;
}

#projectContent {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  /* box-shadow: 5px 10px black; */
  /* background-color: rgb(37, 37, 35); */
}

.projectImage {
  overflow: hidden;
}
.projectImage img {
  /* -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: 0.5s; */
  height: 200px;
  width: 400px;
  padding: auto;
  margin: 15px auto;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  transition: transform 0.3s;
  cursor: pointer;
}
.projectImage img:hover {
  transform: scale(1.2);
  filter: brightness(80%);
}

#projectContent:hover .project-caption {
  width: 600px;
}

/* .projectImageCaption h1 {
  color: #86c232;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Archivo Black', sans-serif;
  margin: 0 auto;
}
.projectImageCaption h2 {
  color: white;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  opacity: 0.8;
} */

#projectBtn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin: 10px auto;
  border-radius: 15px;
  padding: 10px 30px;
  font-size: 1rem;
  font-family: 'roboto', sans-serif;
  font-weight: bolder;
}

.projectBtn:hover {
  background-color: white;
  color: #282828;
  border: 2px solid lightgray;
}
#myskillscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px 25px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  background: url(../images/skillsbg2.jpg);
  /* background-color: #2a2a2e; */
}
#skillDescription {
  padding: 20px 40px;
  margin: 0 auto;
  flex-wrap: wrap;
}

#skillDescription h1 {
  color: #86c232;
  font-family: 'Rubik', sans-serif;
  font-size: 2.2rem;
  margin: 10px auto;
  padding: auto;
  text-transform: uppercase;
}

#skillDescription h2 {
  color: #f5f5f5;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  padding: auto;
}
.skillLogo {
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.skillLogo img {
  height: 80px;
  width: 80px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #f5f5f5;
  transition: transform 0.5s;
}
.skillLogo img:hover {
  transform: scale(1.2);
}

.contact-section {
  background: url(../images/contact.jpg) no-repeat center;
  background-color: #5f5858;
  background-size: cover;
  padding: 40px 0;
}
.contact-section h1 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(32, 31, 31);
  font-family: 'Rubik', sans-serif;
}
.contact-section h2 {
  font-size: 1.1rem;
  text-align: center;
  margin: 15px auto;
  color: rgb(32, 31, 31);
  font-family: 'Rubik', sans-serif;
}
.border {
  width: 100px;
  height: 10px;
  background: #86c232;
  margin: 10px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #86c232;
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
}
.contact-form-btn {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  float: right;
  border: 2px solid white;
  background: transparent;
  color: #fff;
  font-weight: bolder;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover {
  background: linear-gradient(to right, #26d0ce, #1a2980);
}

.footer {
  background-color: #282828;
  height: 80px;
  /* border-top: 5px solid #121212; */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer p {
  color: #adadad;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: 'Rubik', sans-serif;
}

/* Animation */
/* 
@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
} */

/* Media Queries */
/* @media only screen and (max-width: 640px) {
  #home-section {
    flex-direction: column;
  }

  #aboutContainer {
    flex-direction: column;
  }

  #myskillscontainer {
    flex-direction: column;
  }
  #skillDescription {
    width: auto;
  }
  .homeTextContainer {
    flex-direction: column;
    order: 2;
    justify-content: center;
    width: 100%;
  }

  #home-section img {
    order: 1;
    flex-direction: column;
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
  .homeTextContainer h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fcb600;
    line-height: normal;
    font-size: 2.5em;
    font-family: 'Monoton', cursive;
    margin: 0 auto;
  }
  .homeTextContainer h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    line-height: normal;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
  } */
/* .homeBtn {
    background-color: #fcb600;
    color: #2a2a2e;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 0.3em;
  } */
/* .sidebar {
    visibility: hidden;
  }
} */
